doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-38802108-2')
    script(src='/javascripts/gtag.js')
    script(src='/javascripts/script.js')
    title Peace Pinot Tester
    meta(name="viewport", content="width=device-width", initial-scale=1.0)

  body
    #wrapper
      #header
        h2 Are you dinking Peace Pinot?
      #body
        #body-menu
          form(method='post', enctype='multipart/form-data', action='/automl')
            input.fileinputs(type='file', name='imageupload')
            input#uploadimage.fileinputs(type='submit', name='uploadimage', value='Upload Image')
        #body-content
           img(src='images/front.jpg', width='500px')
    #spin.loader
    div
      a(href="https://github.com/bkauf/peacepinot") Source on Github
      p Commit: #{commitID}
      p Build: #{buildID}
