doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    title Peace Pinot Tester
  body
    #wrapper
      #header
        h2 Are you drinking Peace Pinot?
      #body
        #body-right
          img(src='images/front.jpg', width='500px')

        #body-left
        div
        form(method='post', enctype='multipart/form-data', action='/automl')
          input(type='file', name='imageupload')
          input(type='submit', name='uploadimage', value='Upload Image')
